#propagandas {
	text-align: center;
	border: none;
}
#menu_index {
	background-color: ;
	border: none;
}

a:hover {
	background: #836FFF;
	height: 
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	color: #000000;
}


#logo{
	text-align: center;
	float: top;

}
#nav {
	list-style-type: none;
	float: left;
}

#nav li {
	margin: 0px;
	padding: 0px 50px 0px 50px;
	float: left;
}
#propagandas {
	width: auto;
	height: auto;
}

#imgColaboradores{
	border: none;
	background-color: #836FFF;
}

#nomes {
	margin: 0px;
	padding: 10px 120px 0px 140px;
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
	font-size: 20px;
}
#colaboradores {
	text-align: center;
	font-size: 40px;
	font-family: Impact;
}


#sidebar {	
  text-align: 		center;
  font-size:        105%;
  padding:          0px 50px 0px 20px;
  margin:           0px 50px 0px 20px;
  position:         inherit;
  display: 			inline-block;
  top:              128px;
  right:            0px;
  width:            280px;
}

#rodape_index {
	background: 	#836FFF;
	border: 		none;
}

#filtro_total{
	background-color: #836FFF;
	text-align: right;
}

#filtro{
	float: left;
}

#prop {
	width: 300px;
	padding-left: 200px;
}

#propagandas_curriculo {
	padding-left: 50px
}

#titulo_curriculo {
	font-family: "times new roman";
	text-align: justify;
	float: right;
}


#text{
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

#endereco {
	text-align: left;
}


.curriculos {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

.text_quemsomos {
	background-color: #CDC9C9;
}

#maps{
	float: bottom;
	text-align: center;
}