#propagandas {
	text-align: center;
	border: none;
}
#menu_index {
	background-color: #1E90FF;
}

#rodape_index{
	background-color: #1E90FF;
}

#logo{
	float: left;
}
#nav {
	list-style-type: none;
	float: left;
}

#nav li {
	margin: 0px;
	padding: 0px 10px 0px 30px;
	float: left;
}
#propagandas {
	width: auto;
	height: auto;
}

#imgColaboradores{
	border: none;
	background-color: #1E90FF;
}

#nomes {
	margin: 0px;
	padding: 10px 120px 0px 140px;
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
	font-size: 20px;
}
#colaboradores {
	text-align: center;
	font-size: 40px;
	font-family: Impact;
}


#sidebar {	
  text-align: 		center;
  font-size:        105%;
  padding:          0px 50px 0px 20px;
  margin:           0px 50px 0px 20px;
  position:         inherit;
  display: 			inline-block;
  top:              128px;
  right:            0px;
  width:            280px;
}

#rodape_index {
	padding: 0px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#filtro_total{
	background-color: #1E90FF;
}

#filtro{
	float: left;
}

#prop {
	width: 300px;
	padding-left: 200px;
}

#propagandas_curriculo {
	padding-left: 50px
}

#titulo_curriculo {
	font-family: "times new roman";
	text-align: justify;
	float: right;
}

.curriculos {
	background-color: #000000;
	color: #FFFFFF;
}

.text_quemsomos {
	background-color: #000000;
	color: #FFFFFF;
}